@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Goldman:wght@400;700&family=Reddit+Mono:wght@200..900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Ultra&display=swap");
@font-face {
    font-family: "Ultra";
    src: url("./lib/assets/Ultra/Ultra-Regular.ttf") format("opentype");
}

.ultra-regular {
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
}
.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    font-size: 1rem;
    color: orange;
}
html {
    background-color: black;
}
main {
    background-color: black;
    width: 100dvw;
    height: 100dvh;
}
h1 {
    font-size: 3rem;
    font-family: "Ultra";
}
